#div1{
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    opacity: 0.3;
    margin-top: 10px;
    
}
#div2{
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    opacity: 0.3;
    margin-top: 10px;
}
#div3{
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    opacity: 0.3;
    margin-top: 10px;
}