* {
  margin: 0;
  padding: 0;
}

#top{
  position: fixed;
  left: 0;
  top: 0;
}
#div1 {
  width: 100px;
  height: 150px;
  background-color: cornflowerblue;
  position: absolute;
  bottom: 0;
  right: 0;
}
