body{
                
}
#divroot{
    margin: 100px auto;
    width: 800px;
    height: 200px;
}
.button{
    width: 50px;
    height: 50px;
}
#input1{
    margin:auto;
}
#div1{
    width: 800px;
    height: 150px;
    background-color: black;
    position:relative;
    overflow: hidden;
}
#ul1{  
    position:absolute;
    float: left;
    margin: 0;
    padding:0;
    left: 0;
}
#ul1 li{
    list-style: none;
    float: left;
}
img{
    width: 200px;
    height: 150px;
}