* {
    padding: 0;
    margin: 0;
}
#body{
    float: left;
}
#RetrieveColumn{
    
  padding-top: 10px;
  padding-left: 20px ;
}
#tab {
  border: 2px;
  padding-top: 10px;
  padding-left: 20px ;
  margin: auto;
}
thead {
  background-color: #f2f2f2;
  height: 30px;
}
thead tr {
  height: 30px;
}
#check {
  background-color: #feb62f;
  color: white;
  border: 0;
  margin: 0 5px;
  width: 40px;
  height: 30px;
  background-size: 30px 30px;
}
#edit {
  background-color: #0f9688;
  color: white;
  border: 0;
  margin: 0 5px;
  width: 40px;
  height: 30px;
  background-size: 30px 30px;
}
#del {
  background-color: #fd552d;
  color: white;
  border: 0;
  margin: 0 5px;
  width: 40px;
  height: 30px;
  background-size: 30px 30px;
}
#newContainer-background{
    width: 100%;
    height: 100%;
    background: #333333;
    opacity:0.8;
    filter: alpha(opacity=80);
    display: none;
    position: relative;
    
}
#newContainer {
  display: none;
  border: 1px solid black;
  width: 300px;
  background-color: white;
  margin:  auto;
  padding:30px;
  


}
#newContainerTitle{
    font-weight: bolder;
    font-size: 30;
    height: 50px;
}

ul {
  list-style: none;
}
#buttonContainer {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}
