*{
    padding: 0;
    margin: 0;
}
#div1{
    width: 100px;
    height: 50px;
    background-color: #007acc;
    position: absolute;
    top: 100px;
    left: 0px;
}
#shareContainer{
    position: absolute;
    width: 200px;
    height: 400px;
    top: 200px;
    left: -200px;
    background-color: red;
}
#shareBtn{
    position: absolute;
    top: 180px;
    right:-50px;
    background-color: blue;
    width: 50px;
    height: 40px;
    color: #ffffff;
}